.stack-container {
    height: 100%;
    background-color: black;
    padding-top: 2rem;
    overflow: auto;
}

.skills-container {
    padding: 1rem 2rem 2rem 2rem;
}

.skill-container {
    margin-bottom: 2rem;
}

.skill-title {
    color: rgb(248, 249, 250);
    font-size: 1.5rem;
}