.home-container {
    background-image: url('../../assets/background.jpg');
    /* Image by rawpixel.com on Freepik */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

#hello-ribbon {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.summary-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.summary {
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(248, 249, 250);
    padding: 2rem;
    max-width: 50rem;
    border-radius: 50px 0 50px 0;
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 1rem;
}

.job-title {
    font-weight: bold;
    color: rgb(93, 63, 211);
}

.text {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: clamp(1rem, 5vw, 1.25rem);
}

.picture-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}

.profile-pic {
    display: flex;
    max-height: 15rem;
    max-width: 15.5rem;
    border-radius: 100%;
    border: 3px solid rgb(93, 63, 211);
    margin-right: 2rem;
    margin-left: 2rem;
}

.link-icon {
    display: flex;
}

.link-icon svg {
    color: rgb(248, 249, 250);
}

@media only screen and (max-width: 460px) {
    .picture-container {
        display: block;
    }
}