.home-container {
    background-image: url('https://img.freepik.com/free-photo/neon-tropical-monstera-leaf-banner_53876-138943.jpg?w=1380&t=st=1680719677~exp=1680720277~hmac=f374bbacc3a780f965ae4157edbf5259802d4eb5a614df29cda069d771b7cfd8');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}