.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
}

.navbar-nav .nav-link.active {
    color: rgb(93, 63, 211);
    font-weight: bold;
}

.navbar {
    box-shadow: 0 2px rgba(93, 63, 211, 0.7);
}